.input-container {
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.is-reply {
    margin: 0 0 20px 0;
}

.owner-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

textarea {
    border-radius: 5px;
    border-color: var(--light-gray);
    padding: 10px 20px;
    font-size: 14px;
    font-family: var(--main-font-family);
    font-weight: var(--bolder);
    width: 85%;
    margin: 0 20px;
}

button {
    width: 100px;
    height: 45px;
    border-radius: 7px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--moderate-blue);
    cursor: pointer;
    border: 0;
    font-weight: var(--boldest);
}