<div class="comment-container">
  <div class="votes-container">
    <div class="vote-elem sign">
      <img alt="icon-plus" src="../../assets/images/icon-plus.svg"/>
    </div>
    <div class="vote-elem">{{ score }}</div>
    <div class="vote-elem sign">
      <img alt="icon-minus" src="../../assets/images/icon-minus.svg"/>
    </div>
  </div>
  <div class="comment">
    <div class="comment-header">
      <img [src]="imageSrc" alt="avatar" class="avatar"/>
      <h4 class="username">{{ commenter?.username }}</h4>
      <div *ngIf="isCurrentUser" class="you-container">you</div>
      <h4 class="pub-date">{{ createdAt || "" | dateAgo }}</h4>
    </div>
    <div *ngIf="editMode" class="edit-mode-container">
      <label for="edit-input"></label><textarea [value]="content" cols="60" id="edit-input" name="edit-input"
                                                rows="3">
    </textarea>
      <button class="update-button">Update</button>
    </div>
    <p *ngIf="!editMode">
      {{ content }}
    </p>

    <div class="buttons-container">
      <div (click)="onReply()" *ngIf="!isCurrentUser" class="button">
        <img alt="reply" src="../../assets/images/icon-reply.svg"/>
        <h4>Reply</h4>
      </div>
      <div (click)="onDeleteComment(this.id || -1)" *ngIf="isCurrentUser" class="button" id="delete-btn">
        <img alt="delete" src="../../assets/images/icon-delete.svg"/>
        <h4>Delete</h4>
      </div>
      <div (click)="onEdit()" *ngIf="isCurrentUser" class="button">
        <img alt="edit" src="../../assets/images/icon-edit.svg"/>
        <h4>Edit</h4>
      </div>
    </div>
  </div>
</div>
<div #addContainer></div>
<div *ngIf="replies" class="replies-container">
  <div class="replies-pole"></div>
  <app-comment (deleteEvent)="onDeleteReply($event)" *ngFor="let reply of replies" [commenter]="reply.commenter"
               [content]="reply.content"
               [createdAt]="reply.createdAt" [id]="reply.id" [score]="reply.score" style="width: 100%"></app-comment>
</div>
